<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h1><i class="fa fa-id-card-o" aria-hidden="true"></i> My Account</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">


                    <div class="profile-container">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img id="user_picture" class="media-object img-thumbnail profile-picture" src="/assets/img/nopicture.png" alt="Profile Picture">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="profile-header">
                                    <h1 class="profile-name" id="user_name"><%= user.firstname + ' ' + user.lastname %></h1>
                                    <p class="profile-subinfo" id="user_occupation"><%= user.type %></p>
                                    <p class="profile-subinfo" id="user_company"><%= user.branch || 'No branch' %></p>
                                    <p class="profile-subinfo">@<%= user.username %></p>
                                </div>

                            </div>
                        </div>
                        <div class="profile-fields-container">
                            <div class="profile-fields">
                                <div class="profile-field">
                                    <div class="profile-field-name">Gender:</div>
                                    <div class="profile-field-info" id="user_gender"><%= user.gender || 'Unspecified '%></div>
                                </div>
                                <div class="profile-field">
                                    <div class="profile-field-name">Birthdate:</div>
                                    <div class="profile-field-info" id="user_birthdate"><%= user.birthdate || 'Unspecified' %></div>
                                </div>
                                <div class="profile-field">
                                    <div class="profile-field-name">Civil Status:</div>
                                    <div class="profile-field-info" id="user_civilstatus"><%= user.civil_status || 'Unspecified' %></div>
                                </div>
                                <div class="profile-field">
                                    <div class="profile-field-name">Address:</div>
                                    <div class="profile-field-info" id="user_address"><%= user.address || 'Unspecified' %></div>
                                </div>
                                <div class="profile-field">
                                    <div class="profile-field-name">Phone:</div>
                                    <div class="profile-field-info" id="user_phone"><%= user.phone || 'Unspecified' %></div>
                                </div>
                                <div class="profile-field">
                                    <div class="profile-field-name">Account Status:</div>
                                    <div class="profile-field-info" id="user_gender"><%= user.enabled ? 'Enabled' : 'Disabled' %></div>
                                </div>
                                <div class="profile-field">
                                    <div class="profile-field-name">Account Created:</div>
                                    <div class="profile-field-info" id="user_gender"><%= user.created.toUTCString() %></div>
                                </div>
                                <div class="profile-field">
                                    <div class="profile-field-name">Last Login:</div>
                                    <div class="profile-field-info" id="user_gender"><%= user.last_login.toUTCString() %></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="/account/edit" class="btn btn-primary">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        Edit Account Info
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>