<% include ../partials/header %>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <% if (flashError && flashError.length > 0) { %>
            <div class="alert alert-danger fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <%= flashError %>
            </div>
            <% } %>
            <% if (flashSuccess && flashSuccess.length > 0) { %>
            <div class="alert alert-success fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <%= flashSuccess %>
            </div>
            <% } %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1><i class="fa fa-users" aria-hidden="true"></i> User Accounts</h1>
            <hr>
            <p>TODO: Implement CRUD for user accounts.</p>

            <div class="action-buttons">
                <a href="/users/new" class="btn btn-primary">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add Account
                </a>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <th>Username</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Type</th>
                    <th>Created</th>
                    <th>Last Login</th>
                    </thead>
                    <tbody>
                    <% users.forEach(function (user) { %>
                    <tr <% if (!user.enabled) { %> class="danger" <% } %>>
                        <td><a href="/users/<%= user.id %>"><%= user.username %></a></td>
                        <td><%= user.firstname %></td>
                        <td><%= user.lastname %></td>
                        <td><%= user.type %></td>
                        <td><%= user.created.toUTCString()  %></td>
                        <td><%= user.last_login.toUTCString() %></td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



</div>

<% include ../partials/footer %>